##########################
# SERVER CONFIGURATION   #
##########################
dspace.dir=/dspace
dspace.server.url = http://localhost:8080/server
dspace.server.ssr.url = ${dspace.server.url}

dspace.ui.url = http://localhost:4000
dspace.name = Repositório Institucional de Geociências

# assetstore.dir = ${dspace.dir}/assetstore
default.language = pt_BR
default.locale = pt_BR
#solr.server = http://localhost:8983/solr
#solr.multicorePrefix =

##########################
# DATABASE CONFIGURATION #
##########################
db.url = jdbc:postgresql://dspacedb:5432/dspace
db.username = dspace
db.password = dspace

#db.maxconnections = 30
#db.maxwait = 10000
#db.maxidle = 10

#######################
# EMAIL CONFIGURATION #
#######################
#mail.server.disabled = true
mail.server = smtp.gmail.com
mail.server.username =  *****
mail.server.password = *****
mail.server.port = 465
mail.from.address = *****
feedback.recipient = *****
mail.admin = *****
#mail.helpdesk = ${mail.admin}
#mail.helpdesk.name = Help Desk
#alert.recipient = ${mail.admin}
registration.notify = *****
# mail.allowed.referrers = localhost,rigeo.cprm.gov.br 

mail.extraproperties = mail.smtp.socketFactory.port=465, \
                       mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory, \
                       mail.smtp.socketFactory.fallback=false


########################
# HANDLE CONFIGURATION #
########################
handle.prefix = doc

##########################
# AUTHENTICATION METHODS #
##########################
# ORCID certificate authentication.
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.OrcidAuthentication

# Authentication by Password (encrypted in DSpace's database). See authentication-password.cfg for default configuration.
# Enabled by default in authentication.cfg
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.PasswordAuthentication

#################################################
# SPRING BOOT SETTINGS (Used by Server Webapp)  #
#################################################
# Maximum size of a single uploaded file
spring.servlet.multipart.max-file-size = 51200MB

# Maximum size of a multipart request (i.e. max total size of all files in one request)
spring.servlet.multipart.max-request-size = 51200MB

########################
#  LDN INBOX SETTINGS  #
########################
ldn.enabled = false

##### Google Analytics #####
#google.analytics.key=G-0QDN89X22D
#google.analytics.buffer.limit=256
# google.analytics.cron = 0 0/5 * * * ?

# Defines a Measurement Protocol API Secret to be used to track interactions which occur outside of the user's browser.
# For example , this is required to track downloads of bitstreams. This setting is only used by Google Analytics 4.
# For more details see https://developers.google.com/analytics/devguides/collection/protocol/ga4
# google.analytics.api-secret =

google-analytics.bundles = ORIGINAL
webui.strengths.show = true

###### Browse Configuration ######
webui.browse.index.1 = dateissued:item:dateissued
webui.browse.index.2 = author:metadata:dc.contributor.author:text
webui.browse.index.3 = title:item:title
webui.browse.index.4 = subject:metadata:dc.subject.*:text
webui.browse.index.5 = type:metadata:dc.type:text
webui.browse.index.6 = local:metadata:dc.degree.local:text
webui.browse.index.7 = rights:metadata:dc.rights:text
webui.browse.index.8 = other:metadata:dc.contributor.other:text
#webui.browse.index.8 = defense:item:defense

webui.browse.link.1 = author:dc.contributor.author
webui.browse.link.2 = subject:dc.subject.*
webui.browse.link.3 = type:dc.type
webui.browse.link.4 = local:dc.degree.local
webui.browse.link.5 = rights:dc.rights

webui.browse.vocabularies.disabled = srsc

# the properties below are required only for the sync / linking part (not for authentication or import)
#orcid.synchronization-enabled = true
# you need to enable the orcidqueue consumer to keep track of what need to be sync between DSpace and ORCID
#event.dispatcher.default.consumers = versioning, discovery, eperson, qaeventsdelete, ldnmessage, orcidqueue

#orcid.validation.work.enabled = true
#orcid.validation.funding.enabled = true

# These URLs are for testing against ORCID's Sandbox API
# These are only useful for testing, and you must first request a Sandbox API Key from ORCID
#orcid.domain-url= https://sandbox.orcid.org
#orcid.api-url = https://api.sandbox.orcid.org/v3.0
#orcid.public-url = https://pub.sandbox.orcid.org/v3.0
# Keep in mind, these API keys MUST be for the Sandbox API if you use "sandbox.orcid.org" URLs above!
#orcid.application-client-id = APP-ZCYDLWMLYKR1KPZJ
#orcid.application-client-secret = 7b84e26a-35d4-423b-ac04-67488460bfdf

### Settings for Thumbnail creation #####
# Maximum width and height (in pixels) of generated thumbnails
thumbnail.maxwidth  = 300
thumbnail.maxheight = 300

#### Creative Commons settings ######
#cc.license.jurisdiction = br
cc.license.locale = pt_BR
